@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "NovaMono";
  src: url("../public/fonts/NovaMono-Regular.otf");
  font-weight: normal;
  color: "#001D85";
}

@font-face {
  font-family: "Noto Sans";
  src: url("../public/fonts/NotoSans-Regular.otf");
  font-weight: normal;
  color: "#001D85";
}

body {
  @apply w-screen h-screen m-0 relative;
  font-family: "NovaMono", sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.daca-font {
  font-family: "NovaMono";
  font-weight: normal;
  color: #001d85;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInBg {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
}

.rectangle {
  width: 500px;
  height: 390px;
  background: #426bfd;
  opacity: 0.6;
  transform: rotate(325deg);
  animation: fadeInBg 2s;
}

.rectangle2 {
  width: 2887.828px;
  height: 430.851px;
  background: #426bfd;
  opacity: 0.37;
  transform: rotate(347.57deg);
  animation: fadeInBg 2s;
}

.rectangle3 {
  width: 2887.828px;
  height: 490.851px;
  background: #0c257d;
  opacity: 0.6;
  transform: rotate(353.87deg);
  animation: fadeInBg 2s;
}

.body_font {
  font-family: "Noto Sans";
  font-weight: normal;
  color: black;
}

.box {
  width: 92%;
  height: 570px;
  background: #e6e6e6;
}

.circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #d9d9d9;
}

.greyContainer {
  width: 480px;
  height: 120px;
  border-radius: 15px;
  background: #d9d9d9;
}

.button {
  width: 249px;
  height: 42px;
  border-radius: 8px;
  background: #2641a5;
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body {
  font-family: "Noto Sans", sans-serif;
}

.fade-in {
  opacity: 0;
  animation: fade-in-animation 1s ease-in forwards;
  animation-delay: 1s;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error-message {
  font-family: "NovaMono";
  font-weight: normal;
  color: #df0e0e;
  animation: fadeOut 5s;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
