@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "NovaMono";
  src: url("../public/fonts/NovaMono-Regular.otf");
  font-weight: normal;
  color: "#001D85";
}

body {
  @apply w-screen h-screen m-0 relative;
  font-family: "NovaMono", sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.daca-font {
  font-family: "NovaMono";
  font-weight: normal;
  color: #001d85;
}

.rectangle {
  width: 500px;
  height: 390px;
  background: #426bfd;
  opacity: 0.6;
  transform: rotate(333deg);
}

.rectangle2 {
  width: 2887.828px;
  height: 490.851px;
  background: #426bfd;
  opacity: 0.37;
  transform: rotate(347.57deg);
}

.rectangle3 {
  width: 2887.828px;
  height: 490.851px;
  background: #0c257d;
  opacity: 0.6;
  transform: rotate(353.87deg);
}
